@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to ASP.Net Core Training</h3>
    <p>We are learning Web apps with ASP.NET Core.</p>
</div>
